@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #144857;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #37d4ff65;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #37d5ff85;
	border-radius: 10px;
}

html {
  scroll-behavior: smooth;
  background-color: rgb(30, 41, 59);
}